
.info{
  color: #008CBA;
  background: lightgrey;
  font-size: 20px;
  border-style: solid;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;

}

.error {
  color: red;
  background: lightgrey;
  font-size: 20px;
  border-style: solid;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
}

.btn-add {
  background-color: white;
  color: #008CBA ;
  font-weight: bold;
  border-color: grey;
  border-radius: 4px;
}

.btn-delete, .btn-add:hover {
  background: #008CBA;
  color: white; 
  border-color: grey;
  border-radius: 4px;
}

.btn-delete:hover {
  background-color: rgb(187, 57, 57);
  color: white;
}


